/* RESETS */
*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  VARIABLES  */
:root {
    --color-primary: #ab79d6;
    --color-on-primary: #351d4a;
    --color-secondary: #d367c1;
    --color-background: #27272c;
    --color-on-background: #c5c5ce;
    --color-background-alt: #1e1c22;
    --color-background-alt-alpha: rgba(30,28,34,.75);
    --color-inverse: #fff;
    --color-gray: #8e8e8e;
    --color-yellow: #dedf40;
    --color-green: #62cb5c;
    --color-blue: #00bbcb;
    --color-on-blue: #004a09;
    --gradient: var(--color-secondary) 10%,
    var(--color-yellow) 25%,var(--color-green) 50%,
    var(--color-blue) 75%,var(--color-primary) 90%;
    

}


/*  GENERAL  */
body{
    font-family: Arial, Helvetica, sans-serif;

    background: #d3d3d3;
    background: #495cbd;
  
}


/*  COMPONENTS  */
.teamParent{   
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.teamParent__createTeamForm{
    padding: 1rem;
    border: 1px solid #222;
    border-radius:5px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.25rem;

    border-radius: 5px;
    box-shadow: 3px 4px 5px 0px #000;

}

.teamParent__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin: 0.25rem auto 1rem auto;
    grid-column: 1/span2;
    grid-row: 1/2;
    text-align: center;
}


.teamParent .searchBar {
    width: 30px;
    height: 30px;
    color: #fff;
    background: #222;
    border-radius: 50%;
    grid-column: 3/span1;
    grid-row: 1/1;
    margin-right: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 1px 5px 0px aqua,
    0px 3px 3px 0px aqua,
    0px 3px 4px 0px #444;
}


.teamParent .searchBar > * {
    font-size: 1rem;
}

dialog {
    width: 350px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.teamParent__label {
    height: 50px;
    width: 100%;
    padding: 0.65rem;
    margin-bottom:  0.5rem;
    background: #222;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-content: center;


    box-shadow: 0px 1px 5px 0px aqua,
    0px 2px 2px 0px aqua,
    0px 2px 2px 0px #44529b;
}

.teamParent__label:first-of-type{
    margin-left: 1.75rem;
}

.teamParent__label:last-of-type{
    margin-left: 4.75rem;
}


.teamParent .teamParent__label input {
    font-weight: 600;
    background: #efefef;
}

.teamParent__createTeamForm .btn {
    margin-top: 0.75rem;
    grid-column: 1/span2;
    border-radius: 10px;

    background: #222;
    box-shadow: 0px 1px 5px 0px aqua,
    0px 3px 3px 0px aqua,
    0px 3px 4px 0px #111;

    transition: all 0.25s ease;
}

.teamParent .btn:hover{
    transform: scale(0.99) translateY(-1px);
}


.teams {
    width: 90vw;
    margin: 2rem auto;
    border: 3px solid #222;
    padding: 0.75rem;
    border-radius: 35px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    box-shadow: 3px 4px 5px 0px #000;
    
}


.newTeam__container {

    padding: 1rem;
    border-radius: 20px;
    margin: 0.5rem;
    background: #515461;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: inset 3px 5px 5px 0px #000,
                inset -3px -5px 5px 0px #222;
}


.newTeam {
    width: 92%;
    padding: 0.45rem;
    border: 2 px solid #333;
    background: #425097;
    margin: 0.5rem;
    color: white; 

    
    border: 2px solid #111;
    border-radius: 20px;
    color: white;
    text-align: center;
    box-shadow: 3px 5px 5px 0px #000;
    transition: all .3s ease-out;

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
    gap: 15px;
}



.newTeam:hover{
    cursor: pointer;
    transform: scale(1.03);
    
    box-shadow: 1px 3px 3px 0px aqua,
                1px 3px 3px 0px aqua;
}


.newTeam .newTeam__header {
    display: flex;
    justify-content:center ;
    align-items: center;
}



.newTeam #newTeam__teamName {
    width: 150px;
    height: 38px;
    margin: 0.5rem 0.25rem 0.75rem 0.75rem;
    font-size: 1.12rem;
    border-radius: 20px;
    
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(145deg, #4253aa, #4e62ca);
    box-shadow: 8px 8px 16px #1d254c,
                -8px -8px 16px #7593ff;
}

.newTeam__container .btn-danger {
   
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTeam__container input[placeholder="Player Name"] {
    border-radius: 5px;
    padding-inline: 0.5rem;

}

.newTeam__container input[placeholder="Player Number"] {
    border-radius: 5px;
    padding-inline: 0.5rem;

}


.input-flex > * {
    margin: 0.25rem;
}

#createNewPlayer {
    font-size: 0.85rem;
    border-radius: 15px;

}

.newTeam .player-detail {
    width: 100%;
    grid-column: 1/6;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.newTeam .player-detail > *{
    margin: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTeam .player-detail > * > *:last-child {
    color: white;
    margin-left: 0.25rem;
    border-radius: 50%;
    background: red;
    border: transparent;
}


.item1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2{
    grid-column: 3/4;   
    grid-row: 1/2;
}
.item3{
    grid-column: 1/3;   
    grid-row: 2/3;
}
.item4{
    grid-column: 1/3;   
    grid-row: 3/4;
}
.item5{
    grid-column: 3/4;   
    grid-row: 2/4;
}
