/* RESETS */
*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  VARIABLES  */
:root {
    --color-primary: #ab79d6;
    --color-on-primary: #351d4a;
    --color-secondary: #d367c1;
    --color-background: #27272c;
    --color-on-background: #c5c5ce;
    --color-background-alt: #1e1c22;
    --color-background-alt-alpha: rgba(30,28,34,.75);
    --color-inverse: #fff;
    --color-gray: #8e8e8e;
    --color-yellow: #dedf40;
    --color-green: #62cb5c;
    --color-blue: #00bbcb;
    --color-on-blue: #004a09;
    --gradient: var(--color-secondary) 10%,
    var(--color-yellow) 25%,var(--color-green) 50%,
    var(--color-blue) 75%,var(--color-primary) 90%;
    

}


/*  GENERAL  */
body{
    font-family: Arial, Helvetica, sans-serif;
  
}


/*  COMPONENTS  */
.teamParent{
    width: 80%;
    /* height: 90vh; */
    margin: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

.teams {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 0.3rem; */
}

.newTeam {
    width: 300px;
    height: 300px;
    border: 2 px solid #333;
    background: blue;
    margin: 0.5rem;
    color: white; 
    
}