/* RESETS */
*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  VARIABLES  */
:root {
    --color-primary: #ab79d6;
    --color-on-primary: #351d4a;
    --color-secondary: #d367c1;
    --color-background: #27272c;
    --color-on-background: #c5c5ce;
    --color-background-alt: #1e1c22;
    --color-background-alt-alpha: rgba(30,28,34,.75);
    --color-inverse: #fff;
    --color-gray: #8e8e8e;
    --color-yellow: #dedf40;
    --color-green: #62cb5c;
    --color-blue: #00bbcb;
    --color-on-blue: #004a09;
    --gradient: var(--color-secondary) 10%,
    var(--color-yellow) 25%,var(--color-green) 50%,
    var(--color-blue) 75%,var(--color-primary) 90%;
    

}


/*  GENERAL  */
body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: #4366ae; */
    /* background: #ebeef1; */
    background: #5a6dce;
  
}


/*  COMPONENTS  */
.teamParent{   
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.teamParent__createTeamForm{
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius:5px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.25rem;

}

.teamParent__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.25rem auto 1rem auto;
    grid-column: 1/span2;
    grid-row: 1/2;
    text-align: center;
}
.teamParent .searchBar {
    font-size: 1rem;
    grid-column: 3/span1;
    grid-row: 1/2;
    margin-right: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.teamParent label {
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 0.35rem;
    
}

.teamParent input{
    /* border-radius: 27px; */
    /* background: #121f39; */
    /* box-shadow: inset 10px 10px 16px #395794,
            inset -10px -10px 16px #4d75c8; */

    /* box-shadow:  10px 10px 10px -1px rgba(10,99,169,.16),
    -10px -10px 10px -1px rgba(255,255, 255,.70); */
}

.teamParent .btn {
    grid-column: 1/span2;
}


.teams {

    margin: 1rem auto;
    /* border: 1px solid red; */
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    
}

.newTeam {
    width: 300px;
    height: 400px;
    border: 2 px solid #333;
    background: blue;
    margin: 0.5rem;
    color: white; 

    /* border-radius: 50px; */
    /* background: #334b7a; */
    /* box-shadow:  10px 10px 10px -1px rgba(10,99,169,.16), */
                /* -10px -10px 10px -1px rgba(255,255, 255,.70); */
    /* box-shadow:  10px 10px 10px -1px #141e31,
                -10px -10px 10px -1px #5278c3; */
    
}